<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    Hey <%= @name.capitalize %>,
    </br>
    We're super excited that you applied! This is just a confirmation email
    that we've received your application.
    </br>
    We send out our admissions decisions in waves each week, but if you don't
    hear anything during the next one, don't worry! Your application is still
    under consideration; it just means this wave filled up before we got you.
    </br>
    Take care,
    The SpartaHack Team
  </body>
</html>
