///////////////////////////////////////
// Header
///////////////////////////////////////
.main-header {
  font-family: "Lato-Light";
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 44vh;
  top: calc(50% - 25px);
  left: -17vh;
  z-index: 2;
  transform: rotate(90deg);
  will-change: transform;
  h4 {
    font-size: .8vw;
    text-transform: uppercase;
    a {
      text-decoration: none;
      transition: all ease 0.5s;
      border-bottom: none;
      &::after {
        transition: width ease .5s;
        bottom: 0px;
        height: 0px;
        width: 0%;
      }
      &:hover::after {
        height: 1px;
        width: 100%;
      }
      &.active::after {
        height: 1px;
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1450px) {
    left: -20vh;
    background-color: white;
    border: 1px solid $light-gold;
    h4 {
      font-size: 11px;
    }
  }
  @media screen and (max-height: 854px ) {
    left: -19vh;
  }
}


///////////////////////////////////////
// Preview Site
///////////////////////////////////////

.border {
  position: absolute;
  opacity: 0;
  animation: fade-in 1s linear alternate;
  animation-delay: 1s;
   animation-fill-mode: forwards;
  &.top {
    background: $light-gold;
    left: 5vw;
    height: 1px;
    &.inner {
      top: 5vw;
      width: 75%;
    }
    &.outer {
      top: 4vw;
      right: 5vw;
      width: 90%;
    }
  }
  &.right {
    background: linear-gradient($light-gold, $dark-gold);
    top: 4vw;
    width: 1px;
    &.inner {
      right: 5vw;
      height: calc(100% - 13vw);
    }
    &.outer {
      right: 4vw;
      height: 50%;
      &.lower {
        background: linear-gradient($dark-gold, $light-gold);
        top: initial;
        bottom: 5vw;
        height: 30%
      }
    }
  }
  &.bottom {
    background: $medium-gold;
    height: 1px;
    right: 4vw;
    &.inner {
      bottom: 5vw;
      width: 75%;
    }
    &.outer {
      bottom: 4vw;
      width: 90%;
    }
  }
  &.left {
    background: linear-gradient($dark-gold, $medium-gold);
    width: 1px;
    &.inner {
      left: 6vw;
      bottom: 4vw;
      height: calc(100% - 13vw);
    }
    &.outer {
      background: linear-gradient($light-gold, $dark-gold);
      left: 5vw;
      top: 150px;
      height: 40%;
    }
  }
}

.corner {
  position: absolute;
  opacity: 0;
  animation: fade-in 1s linear alternate;
  animation-delay: 1.5s;
   animation-fill-mode: forwards;
  width: 1px;
  &.top.right {
    transform-origin: top left;
    background: linear-gradient($light-gold, $dark-gold);
    transform: rotate(-45deg);
    &.inner {
      top: 5vw;
      right: 20%;
      height: 21.2vw;
    }
    &.outer {
      top: 4vw;
      right: 19%;
      height: 13vw;
    }
  }
  &.bottom.left {
    transform-origin: bottom right;
    background: linear-gradient($dark-gold, $medium-gold);
    transform: rotate(-45deg);
    &.outer {
      bottom: 4vw;
      left: 20%;
      height: 15vw;
    }
    &.inner {
      bottom: 5vw;
      left: 21%;
      height: 21.2vw;
    }
  }
}

.logo {
  &.diamond {
    position: absolute;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1s;
     animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    width: 10%;
    height: 6vw;
    &.top.right {
      right: 5%;
      top: 4vw;
    }
    &.bottom.left {
      left: 5%;
      bottom: 4vw;
    }
    img {
      width: 40%;
    }
  }
  &#logo-center {
    width: 19vw;
    height: auto;
    max-height: 19vh;
  }
  &#inner-ring {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    overflow: auto;
    width: 44vw;
    height: 44vh;
  }
  &#outer-ring {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    overflow: auto;
    width: 70vw;
    height: 70vh;
  }
  &#hanging-lines {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    overflow: visible;
    width: 70vw;
    height: 70vw;
    max-height: 70vh;
  }
  &.main {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 55%;
      max-height: 75vh;
    }
  }
}

@import "../partials/home/head";
@import "../partials/home/spartahack";
@import "../partials/home/faq";
@import "../partials/home/sponsors";
