// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logIn {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .fields {
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    input {
      padding-left: 1em;
    }
    div:nth-child(n+2) {
      margin-top: 1em;
    }
    @media (min-width: 557px) {
      flex-direction: row;
      div:nth-child(n+2) {
        margin-left: 1em;
        margin-top: 0;
      }
    }
  }
  input {
    height: 4em;
    box-sizing: border-box;
    width: calc(33em + 5px);
    max-width: 90vw;
    font-size: 1em;
    background-color: transparent;
    color: $dark-gold;
    text-transform: uppercase;
    font-weight: 100;
    box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.04);

    &::placeholder {
      text-transform: uppercase;
    }

    &.btn {
      cursor: pointer;
    }

    @media (min-width: 557px) {
      width: 16em;
      &.btn {
        width: calc(33em + 5px);
      }
    }
  }
}
