$("#group-wrapper").fadeOut(function(){
  var group_text = "<p id=\"group-apply-share\">This is your group token: \
  <strong><%= @batch.token %></strong>, share it with your friends to be considered together!</p>"

  group_text += '<div class="form-wrapper flex wrap-row align-center center">\
  <%= form_tag "/batch/destroy", :id =>"leave-group" %>\
  <%= hidden_field(:batch, :token, :value => @batch.token)%><%= submit_tag "Leave group" %></form>'


  $(this).html(group_text);

  $("#group-wrapper").fadeIn();
})
