#dashboard {
  margin-top: 150px;
  padding-bottom: 350px;

  .section-head {
    color: $dark-gold;
    font-size: 2.2em;
    letter-spacing: 1px;
    margin-bottom: 0;

    &::after,
    &::before {
      background: none;
    }
    @media (max-width: 760px) {
      font-size: inherit;
    }
  }

  #greeting {
    width: 100%;
    text-align: left;

    p {
      width: 100%;
      font-family: "Nemoy-Light";
      font-weight: 100;
      margin: 0;
      color: $medium-gold;
      animation: type 1.3s steps(60, end);
      white-space: nowrap;
      overflow: hidden;

      span {
        animation: blink 1.25s infinite;
      }
    }
  }

  #app {
    height: 70px;
    width: 100%;
    max-width: 750px;
    margin: 25px 15 0;
    border: 1px solid $light-gold;
    border-radius: 2px;
    background: none;
    border-image: linear-gradient(to bottom, $light-gold 0%, $medium-gold 100%);
    border-image-slice: 1;
    opacity: 0;
    color: $dark-gold;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transition: box-shadow 0.7s ease;
    @media (max-width: 760px) {}

    &.dark {
      a {
        color: $light-gold;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    a {
      width: 100%;
      height: 100%;
      padding: 0;
      line-height: 70px;
      font-size: 22px;
      font-weight: 100;
      font-family: "Lato-Light";
      -webkit-font-smoothing: antialiased;

      &::after {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  #group-wrapper {
    width: 100%;
    max-width: 750px;
    opacity: 0;
    animation: fade-in 0.5s linear alternate;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    transition: box-shadow 0.7s ease;

    #group-apply-single {
      margin-top: 50px;
      margin-bottom: 15px;
    }

    #group-apply-share {
      margin-top: 50px;
      margin-bottom: 0;
    }

    #group-apply {
      margin: 0;
    }
  }

  #get-token,
  #leave-group {
    width: 48%;

    input[type=submit] {
      text-align: center;
      color: $medium-gold;
      font-weight: 200;
      font-size: 15px;
      height: 60px;
      width: 100%;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      @media (min-width: 550px) {
        padding: 10px 15px;
      }

      &.dark {
        color: $light-gold;
      }
    }
  }

  #leave-group {
    width: 100%;
  }

  #update-token {
    width: 48%;

    input {
      text-align: center;
      color: $medium-gold;
      font-weight: 200;
      font-size: 15px;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      @media (min-width: 550px) {
        padding: 10px 15px;
      }

      &.dark {
        color: $light-gold;
      }

      &.error {
        animation: shake 0.2s ease-in-out 0s 2;
      }
    }
  }

  #notice {
    color: $medium-gold;
    font-weight: 100;
    font-family: "Lato-Light";
    -webkit-font-smoothing: antialiased;
  }

  .dash-title-animation {
    opacity: 0;
    width: 120%;
    margin: auto auto 45px -10%;
  }

  .dash-title-animation.start {
    .dash-paths-lines {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke-width: 1px;
    }

    #dash-top-line {
      animation: dash 1.1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }

    #dash-bottom-line {
      animation: dash 1.2s linear alternate;
      animation-delay: 0.55s;
      animation-fill-mode: forwards;
    }

    #dash-center-hanging {
      animation: dash-back 1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}
