.reset-pass-border {
  &.top {
    &.inner {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &.right {
    &.outer {
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

#change-password,
#reset-password {
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title-wrap {
    width: 100vw;

    .section-head {
      opacity: 0;
      animation: fade-in 1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;

      &::after,
      &::before {
        background: none;
      }
    }
  }

  .reset-pass-title-animation {
    opacity: 0;
    width: 450px;
    margin: auto auto 45px;
    @media (max-width: 460px) {
      svg {
        max-width: 300px;
      }
      max-width: 300px;
      width: auto;
    }
  }

  .no-label {
    display: none;
  }

  .reset-pass-title-animation.start {
    .reset-pass-paths-lines {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke-width: 1px;
    }

    #reset-pass-top-line {
      animation: dash 1.1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }

    #reset-pass-bottom-line {
      animation: dash 1.2s linear alternate;
      animation-delay: 0.55s;
      animation-fill-mode: forwards;
    }

    #reset-pass-center-hanging {
      animation: dash-back 1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }

  .fields {
    margin-bottom: 0.5em;
    width: calc(33em + 5px);
    max-width: 90vw;

    input {
      padding-left: 1em;
    }

    div:last-child {
      margin-top: 2em;
    }

    #password_confirmation {
      margin-top: 1em;
    }
    @media (min-width: 586px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: calc(33em);

      #password_confirmation {
        margin-top: 0;
      }

      div:nth-child(n+4) {
        margin-left: 1em;
        margin-top: 0;
      }
    }
  }

  #change-pass-fields,
  #current_password {
    margin-bottom: 1em;
  }

  #current_password {
    max-width: 90vw;
    padding-left: 1em;
    width: calc(33em + 5px);
    @media (min-width: 586px) {
      width: calc(33em);
    }
  }

  input {
    height: 4em;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    width: calc(33em + 5px);
    max-width: 90vw;
    font-size: 1em;
    background-color: transparent;
    color: $medium-gold;
    font-weight: 100;

    &::placeholder {
      text-transform: uppercase;
    }

    &.dark {
      color: $light-gold;
    }

    &.btn {
      text-transform: uppercase;
      cursor: pointer;
      animation-delay: 1.5s;
    }
    @media (min-width: 586px) {
      width: 16em;

      &.btn {
        width: calc(33em);
      }
    }
  }

  .reset-pass-links {
    color: $dark-gold;
    font-weight: 100;
    font-family: "Lato-Light";
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
  }

  #error {
    width: calc(33em + 5px);
    margin: 0;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
  }
}
