<nav id="header" class="flex wrap-row align-center">
  <div id="left-wrap" class="flex wrap-row align-center">
    <%= image_tag "diamond-w-shadow.svg", :id => "nav-diamond", :class => "diamond"%>
    <h1 id="nav-spartahack">SpartaHack 17</h1>
  </div>
  <div id="right-wrap" class="flex wrap-row end">
    <ul>
      <li>
          <a href="/dashboard">My Dashboard</a>
      </li>
    </ul>
  </div>

  <div id="mobile">

  </div>
</nav>
