<section id="contact" class="wrap">
  <h2 class="section-head">Contact</h2>
  <p>
    Email us at <a href="mailto:hello@spartahack.com">hello@spartahack.com</a>
  </p>
  <p>
    To sponsor, email <a href="mailto:sponsor@spartahack.com">sponsor@spartahack.com</a>
  </p>
</section>
