<footer id="footer">
  <div id="social-media-icons">
    <a target="_blank" href="https://www.facebook.com/spartahackmsu">
      <%= image_tag 'socialMedia/facebook.svg', class: "footer-social-icon" %>
    </a>
    <a target="_blank" href="https://twitter.com/SpartaHack">
      <%= image_tag 'socialMedia/twitter.svg', class: "footer-social-icon" %>
    </a>
    <a target="_blank" href="https://www.instagram.com/spartahackmsu/">
      <%= image_tag 'socialMedia/insta.svg', class: "footer-social-icon" %>
    </a>
    <a target="_blank" href="https://github.com/SpartaHack">
      <%= image_tag 'socialMedia/github.svg', class: "footer-social-icon" %>
    </a>
  </div>
  <p id="love">
    &lt;&nbsp;/&gt; with ♥ by &copy;SpartaHack17, <a id="contact" href="mailto:hello@spartahack.com">hello@spartahack.com</a>
  </p>

</footer>
