<nav id="header" class="flex wrap-row align-center">
  <div id="left-wrap" class="flex wrap-row align-center">
    <%= image_tag "diamond-w-shadow.svg", :id => "nav-diamond"%>
    <h1 id="nav-spartahack">SpartaHack 17</h1>
  </div>
  <div id="right-wrap" class="flex wrap-row end">
    <ul>
      <li>
          <a href="#spartahack">17</a>
      </li>
      <li>
          <a href="#event-description">About</a>
      </li>
      <li>
          <a href="#faq">FAQ</a>
      </li>
      <li>
          <a href="#sponsors">Sponsor</a>
      </li>
      <li>
          <a href="#footer">Contact</a>
      </li>
    </ul>
  </div>

  <div id="mobile">

  </div>
</nav>
