<div class="top outer border"></div>
<div class="top inner border"></div>
<div class="top right inner corner"></div>
<div class="top right outer corner"></div>
<div class="right inner border"></div>
<div class="right outer border"></div>
<div class="right outer border lower"></div>
<div class="bottom inner border"></div>
<div class="bottom outer border"></div>
<div class="bottom left inner corner"></div>
<div class="bottom left outer corner"></div>
<div class="left inner border"></div>
<div class="left inner border"></div>
<div class="left outer border"></div>
<div class="left outer border lower"></div>
<div class="bottom left diamond logo">
  <%= image_tag("diamond.svg") %>
</div>
<div class="top right diamond logo">
  <%= image_tag("diamond.svg") %>
</div>
<%= image_tag("theWorks.svg", class: "main logo") %>
