<div class="top outer border"></div>
<div class="top inner border"></div>
<div class="top right inner corner"></div>
<div class="top right outer corner"></div>
<div class="right inner border"></div>
<div class="right outer border"></div>
