<div class="wrap">
  <h1 id="spartahack-title">SpartaHack 17</h1>
  <div class="border"></div>
  <div class="flex wrap-row space-around" id="event-wrap">
    <p id="event-date">February 3rd - 5th, 2017</p>
    <p id="event-location">East Lansing - Michigan</p>
  </div>
</div>
