<section id="spartahack">
  <div class="wrap">
    <h1 id="spartahack-title">SpartaHack 17</h1>
    <div class="spartahack-title-animation">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 606.7 125.1">
        <defs>
            <style>.cls-1,.cls-2,.cls-3,.cls-4{fill:none;stroke-miterlimit:10;stroke-dasharray: 1000;stroke-dashoffset: 1000;}.cls-1{stroke:url(#New_Gradient_Swatch);}.cls-2{stroke:url(#New_Gradient_Swatch-2);}.cls-4{stroke:url(#New_Gradient_Swatch-3);}.cls-3{stroke:url(#New_Gradient_Swatch-4);}</style>
            <linearGradient id="New_Gradient_Swatch" x1="14.64" y1="0.5" x2="606.7" y2="0.5" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#f9e1a2"/>
                <stop offset="1" stop-color="#b4882d"/>
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch-2" x1="325.72" y1="125.1" x2="325.72" y2="0.2" xlink:href="#New_Gradient_Swatch"/>
            <linearGradient id="New_Gradient_Swatch-3" x1="224.53" y1="56.06" x2="224.53" y2="22.19" xlink:href="#New_Gradient_Swatch"/>
            <linearGradient id="New_Gradient_Swatch-4" x1="0" y1="22.54" x2="425.53" y2="22.54" xlink:href="#New_Gradient_Swatch"/>
        </defs>
        <title>stuff</title>
          <line class="cls-1" x1="14.64" y1="0.5" x2="606.7" y2="0.5"/>
          <path class="cls-2" d="M91.73,22.54C105,37.43,182.32,121,308.36,124.49,460.83,128.67,551.15,11.92,559.68.5"/>
          <path class="cls-4" d="M148.26,22.54c4.4,4.63,34.48,35.22,81.2,32.89,39.75-2,65.85-27.2,71.33-32.89"/>
          <line class="cls-3" y1="22.54" x2="425.53" y2="22.54"/>
      </svg>
    </div>

    <div class="border"></div>
    <div class="flex wrap-row space-around" id="event-wrap">
      <div id="event-date-wrap">
        <p id="event-date">February 3rd - 5th, 2017</p>
        <div id="event-date-animation">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 290.16 69.34">
            <defs>
                <style>.cls-1,.cls-2,.cls-3,.cls-4{fill:none;stroke-miterlimit:10;}.cls-1,.cls-2{stroke-width:0.5px;}.cls-1{stroke:url(#New_Gradient_Swatch);}.cls-2{stroke:url(#New_Gradient_Swatch-2);}.cls-3{stroke:url(#New_Gradient_Swatch-3);}.cls-4{stroke:url(#New_Gradient_Swatch-4);}</style>
                <linearGradient id="New_Gradient_Swatch" x1="126.55" y1="20.63" x2="229.3" y2="20.63" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#f9e1a2"/>
                    <stop offset="1" stop-color="#b4882d"/>
                </linearGradient>
                <linearGradient id="New_Gradient_Swatch-2" x1="65.21" y1="34.92" x2="281.04" y2="34.92" xlink:href="#New_Gradient_Swatch"/>
                <linearGradient id="New_Gradient_Swatch-3" x1="0" y1="14.73" x2="290.16" y2="14.73" xlink:href="#New_Gradient_Swatch"/>
                <linearGradient id="New_Gradient_Swatch-4" x1="42.08" y1="0.5" x2="244.13" y2="0.5" xlink:href="#New_Gradient_Swatch"/>
            </defs>

            <path class="cls-1" d="M229.06.5c-.73,2.19-10.75,30.62-39.69,38.28-22.94,6.07-48.1-3.46-62.62-24"/>
            <path class="cls-2" d="M65.43.6C71.79,14,88.65,44.24,123,59.68c49,22,113.35,4.77,157.88-44.94"/>
            <line class="cls-3" y1="14.73" x2="290.16" y2="14.73"/>
            <line class="cls-4" x1="42.08" y1="0.5" x2="244.13" y2="0.5"/>
          </svg>

        </div>
      </div>
        <div id="event-location-wrap">
          <p id="event-location">East Lansing - Michigan</p>
          <div id="event-location-animation">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 324.71 69.34">
              <defs>
                  <style>.cls-1,.cls-2,.cls-3,.cls-4{fill:none;stroke-miterlimit:10;}.cls-1{stroke:url(#New_Gradient_Swatch);}.cls-2{stroke:url(#New_Gradient_Swatch-2);}.cls-3,.cls-4{stroke-width:0.5px;}.cls-3{stroke:url(#New_Gradient_Swatch-3);}.cls-4{stroke:url(#New_Gradient_Swatch-4);}</style>
                  <linearGradient id="New_Gradient_Swatch" x1="13.24" y1="15.78" x2="324.71" y2="15.78" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#f9e1a2"/>
                      <stop offset="1" stop-color="#b4882d"/>
                  </linearGradient>
                  <linearGradient id="New_Gradient_Swatch-2" x1="0" y1="0.5" x2="130.59" y2="0.5" xlink:href="#New_Gradient_Swatch"/>
                  <linearGradient id="New_Gradient_Swatch-3" x1="57.61" y1="42.48" x2="293.41" y2="42.48" xlink:href="#New_Gradient_Swatch"/>
                  <linearGradient id="New_Gradient_Swatch-4" x1="33.76" y1="25.15" x2="82.37" y2="25.15" xlink:href="#New_Gradient_Swatch"/>
              </defs>
              <line class="cls-1" x1="13.24" y1="15.78" x2="324.71" y2="15.78"/>
              <line class="cls-2" y1="0.5" x2="130.59" y2="0.5"/>
              <path class="cls-3" d="M57.79,15.78C64.37,23.22,104.72,67.36,171.55,69,243,70.84,287.13,22.66,293.22,15.78"/>
              <path class="cls-4" d="M34,15.78a24.75,24.75,0,0,0,48.13-.27"/>
            </svg>

          </div>
        </div>
    </div>

    <%= form_tag "/subscribe", id: "notify-email", :remote => true, :authenticity_token => true %>
      <%= email_field_tag "emailinput", nil, id: "notify-email-input", class: "remove-outline", placeholder: "NOTIFY ME WHEN APPLICATIONS OPEN", autocomplete: "off" %>
      <button class="submit-button hide">SUBMIT</button>
    </form>

    <p id="event-description">
      SpartaHack 2017 is Michigan State University's third annual student-run hackathon.
      On the weekend of February 3rd, we're bringing together 500 students of all skill levels
      and disciplines to get creative with tech, connect with peers and professionals, and
      forget the words "I can't." We're excited to see what you will create!
    </p>

  </div>
</section>
