<section id="sponsors">
  <h2 class="section-head">
    Sponsor
  </h2>

  <p id="sponsor-description">
    Sponsors of SpartaHack have the unique ability to connect with 500 student
    developers in a long-term, project-based setting. This is an unparalleled
    opportunity to work with coveted potential hires, reinforce company
    branding in the tight-knit hacker community, and contribute to the
    innovation of tech education.
  </p>
</section>
