<nav id="header" class="flex wrap-row align-center">
  <div id="left-wrap" class="flex wrap-row align-center">
    <%= image_tag "diamond-w-shadow.svg", :id => "nav-diamond", :class => "diamond"%>
    <h1 id="nav-spartahack"><a href='/'>SpartaHack 17</a></h1>
  </div>
  <div id="right-wrap" class="flex wrap-row end">
    <ul>
    <%- if User.current_user.present? %>
      <li>
          <a class="active" href="/dashboard">My Dashboard</a>
      </li>

      <li>
          <a href="/logout">Log Out</a>
      </li>
    <%- else %>
    <li>
        <a class="active" href="/apply">Apply</a>
    </li>
      <li>
          <a class="active" href="/login">Log In</a>
      </li>
    <%- end %>
    </ul>
  </div>

  <div id="mobile">

  </div>
</nav>
