<nav id="header" class="wrap-row align-center">
  <div id="left-wrap" class="flex wrap-row align-center">
    <%= image_tag "diamond-w-shadow.svg", :id => "nav-diamond", :class => "diamond"%>
    <h1 id="nav-spartahack"><a href='/'>SpartaHack 17</a></h1>
  </div>
  <div id="right-wrap" class="flex wrap-row end">
    <ul>
      <li>
          <a href="/admin">Admin Dashboard</a>
      </li>
      <li>
          <a href="/logout">Log Out</a>
      </li>
    </ul>
  </div>

  <div id="mobile">
    <ul>
      <li>
          <a href="/admin">Admin Dashboard</a>
      </li>
      <li>
          <a href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
  <%= image_tag "menu.svg", :id => "mobile-menu-icon" %>
</nav>
<div id="mobile-overlay"></div>
