@keyframes bounce {
  0% { transform: scale(4.1); opacity: .1; }
  20% { transform: scale(3.5); opacity: .3; }
  30% { transform: scale(3.1); opacity: .7; }
  40% { transform: scale(2.5); opacity: 1;}
  50% { transform: scale(1.6);}
  70% { transform: scale(1.1);}
  75% { transform: scale(1.0);}
  80% { transform: scale(0.98);}
  85% { transform: scale(0.95);}
  90% { transform: scale(0.98);}
  95% { transform: scale(0.99);}
  100% { transform: scale(1); opacity: 1; }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-back {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 2000;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
