$white: #FFF;
$light-gold: #FAE2A4;
$medium-gold: #D4B166;
$dark-gold: #B58A2D;
$dark-brown: #362F26; // Statistics
$dust-storm: #D8CBC7;
$sinopia: #CC3F0C;
$metallic-sunburst: #9A6D38;
$hunter-green: #33673B;
