// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require font-awesome
 *
 */
body {
  padding: 0;
  position: relative;
  @media (max-width: 710px) {
    margin-top: 0;
    padding: 0 5%;
  }
}

.user-border {
  &.top {
    &.inner {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &.right {
    &.outer {
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
@import "partials/colors";
@import "partials/animations";
@import "partials/fonts";
@import "select2-modified";
@import "partials/home/navigation";
@import "partials/admin/dashboard";
@import "partials/admin/faq";
@import "partials/admin/sponsorship";
@import "partials/admin/statistics";
