///////////////////////////////////////
// Main Background
///////////////////////////////////////
body {
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  transition: padding 1s ease, margin 1s ease;
  @media (max-width: 710px) {
  }


  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    background: linear-gradient($white 59%, #FFF3D8 100%);
    transition: opacity 0.5s linear;
    // background: linear-gradient($white 69%, #FFF2D7 100%);
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }

  &.dark {
    &::before {
      opacity: 0;
      background-color: #362F26;
      background: #362F26;
      animation: fade-in 0.5s linear alternate;
      animation-fill-mode: forwards;
    }
  }
}



.wrap {
  margin-bottom: 100px;
}
.flex {
  display: flex;
}

.wrap-row {
  flex-wrap: wrap;
  flex-direction: row;
}

.wrap-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.align-center {
  align-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

/* Removes glowing outline on button focus */
.remove-outline {
    outline:0;
}

input {
  border: 1px $light-gold solid;
  color: $dark-gold;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
::placeholder {
  color: $dark-gold;
  font-family: "Lato-Light";
}

.section-head {
  font-family: "Nemoy-Light";
  font-weight: 100;
  color: $medium-gold;
  font-size: 2.5em;
  @media screen and (max-width: 774px) {
    font-size: 2em;
  }
}

p {
  font-family: "Lato-Light";
  font-size: 1.2em;
  line-height: 2;
  color: $dark-gold;
  @media (max-width: 550px) {
    font-size: .9em;
  }
}

svg {
  path, line {
    fill:none;
    stroke-miterlimit:10;
    stroke-width:1px;
  }
}

a {
  color: $dark-gold;
  position: relative;
  text-decoration: none;
  padding-bottom: 7px;
  transition: all .3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B58A2D, ;
    background: linear-gradient(left, #FAE2A4 0%, #B58A2D 100%);
   }

   &:visited {
     color: $dark-gold;
   }

   &:hover {
     opacity: .7;
   }
}



///////////////////////////////////////
// Footer
///////////////////////////////////////
#social-media-icons {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: 200px auto auto;
  @media screen and (max-width: 774px) {
    width: 100%;
  }
  .footer-social-icon {
    width: 2.5vw;
    @media screen and (max-width: 774px) {
      width: 10vw;
    }
  }

  a {
    border-bottom: none;
    padding-bottom: 0px;

    &::after {
      bottom: 0px;
      height: 0px;
      width: 0%;
     }

     &:hover {
       transform : scale(1.25);
     }
  }
}

#love {
  @media (max-width: 550px) {
    font-size: .8em !important;
  }
}


.sweet-alert {
  &.dark {
    background-color: #362F26 !important;
    background: #362F26 !important;

    .sa-icon.sa-success::before, .sa-icon.sa-success::after, .sa-icon.sa-success .sa-fix {
      background: #362F26 !important;
    }

    .sa-icon.sa-error {
      border-color: $medium-gold !important;
    }
  }
}

.sweet-alert

.sweet-alert .sa-icon.sa-error,
.sweet-alert .sa-icon.sa-success .sa-placeholder {
  border-color: $medium-gold !important;
}

.sweet-alert .sa-icon.sa-error .sa-line,
.sweet-alert .sa-icon.sa-success .sa-line {
  background-color: $medium-gold !important;
}

.sweet-alert p {
  font-family: "Lato-Light" !important;
  color: $medium-gold !important;
  font-weight: 100 !important;
}

.sweet-alert h2 {
  font-family: "Nemoy-Light" !important;
  color: $dark-gold !important;
}

.sa-button-container.cancel, .sweet-alert button.cancel {
  background-color: transparent !important;
  color: $medium-gold !important;
  border: $dark-gold 1px solid !important;
  border-radius: 0px !important;
  font-family: "Lato-Light" !important;
  font-weight: 100 !important;

  &:hover {
    opacity: .7;
  }
}

.sa-button-container.confirm, .sweet-alert button.confirm {
  background-color: $dark-gold !important;
  color: $light-gold !important;
  border-radius: 0px !important;
  font-family: "Lato-Light" !important;
  font-weight: 100 !important;
  margin: 26px 5px !important;

  &:hover {
    opacity: .7;
  }
}
