@import "partials/colors";
@import "partials/fonts";
@import "partials/border";
@import "partials/animations";
@import "partials/home/navigation";

.session-border {
  &.top {
    &.inner {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &.right {
    &.outer {
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

#logIn {
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title-wrap {
    width: 100vw;

    .section-head {
      opacity: 0;
      animation: fade-in 1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;

      &::after,
      &::before {
        background: none;
      }
    }

    #request-password {
      font-size: 2em;
    }
  }

  .login-title-animation {
    opacity: 0;
    width: 450px;
    margin: auto auto 45px;
    @media (max-width: 460px) {
      svg {
        max-width: 300px;
      }
      max-width: 300px;
      width: auto;
    }
  }

  .login-title-animation.start {
    .login-paths-lines {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke-width: 1px;
    }

    #login-top-line {
      animation: dash 1.1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }

    #login-bottom-line {
      animation: dash 1.2s linear alternate;
      animation-delay: 0.55s;
      animation-fill-mode: forwards;
    }

    #login-center-hanging {
      animation: dash-back 1s linear alternate;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }

  .fields {
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;

    input {
      padding-left: 1em;
    }

    div:nth-child(n+2) {
      margin-top: 1em;
    }
    @media (min-width: 557px) {
      flex-direction: row;

      div:nth-child(n+2) {
        margin-left: 1em;
        margin-top: 0;
      }
    }
  }

  input {
    height: 4em;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    width: calc(33em + 5px);
    max-width: 90vw;
    font-size: 1em;
    background-color: transparent;
    color: $dark-gold;
    font-weight: 100;

    &::placeholder {
      text-transform: uppercase;
    }

    &.btn {
      text-transform: uppercase;
      cursor: pointer;
      animation-delay: 1.5s;
    }
    @media (min-width: 557px) {
      width: 16em;

      &.request-password-email {
        width: calc(33em);
      }

      &.btn {
        width: calc(33em);
      }
    }
  }

  .login-links {
    color: $dark-gold;
    font-weight: 100;
    font-family: "Lato-Light";
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
  }

  #create {
    margin-top: 15px;
  }

  #forgot {
    margin-top: 50px;
  }

  #error {
    width: calc(33em + 5px);
    margin: 0;
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
  }
}
