#outer-ring {
  opacity: 0;
  z-index: 3;
  will-change: transform, opacity;
  animation: bounce .4s .5s alternate;
  animation-fill-mode: forwards;
}

#inner-ring {
  opacity: 0;
  z-index: 2;
  will-change: transform, opacity;
  animation: bounce .5s .7s alternate;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

#logo-center {
  opacity: 0;
  z-index: 1;
  will-change: transform, opacity;
  animation: bounce .4s 7s alternate;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

#hanging-lines {
  will-change: opacity;

  #logo-top-left  {
    opacity: 0;
    animation: fade-in 1.45s linear alternate;
    animation-delay: .94s;
     animation-fill-mode: forwards;
  }
  #logo-top-right {
    opacity: 0;
    animation: fade-in .25s linear alternate;
    animation-delay: .75s;
    animation-fill-mode: forwards;
  }
  #logo-bottom-left {
    opacity: 0;
    animation: fade-in 1.2s linear alternate;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
  }
  #logo-bottom-center {
    opacity: 0;
    animation: fade-in 1s linear alternate;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
  }
  #logo-top-center {
    opacity: 0;
    animation: fade-in .3s linear alternate;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
  }
}

#page-corner {
  position: absolute;
  top: 76px;
  left: 96px;
  width: 268px;
  height: auto;
  @media screen and (max-width: 746px) {
    width: 0;
  }

  #page-corner-top-hanging {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s linear alternate;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    @media screen and (max-width: 746px) {
      display:none;
    }
  }
  #page-corner-bottom-hanging {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2.94s linear alternate;
    animation-delay: 1.24s;
    animation-fill-mode: forwards;
    @media screen and (max-width: 746px) {
      display:none;
    }
  }

}
