nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 75px;
  z-index: 500;
  background: $white;
  justify-content: space-between;
  // box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.04);
  opacity: 0;
  animation: fade-in 1.45s linear alternate;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  transition: background-color 0.5s linear;

  &.dark {
    background-color: $dark-brown;

    #mobile {
      background-color: $dark-brown;

      ul li a {
        color: $light-gold;
      }
    }
  }

  #mobile {
    display: none;
  }
  @media screen and (max-width: 990px) {
    justify-content: center;
  }
  @media screen and (min-width: 770px) {
    #mobile,
    #mobile-menu-icon {
      display: none;
    }
  }

  #left-wrap {
    width: 442px;
    @media screen and (max-width: 1299px) {
      width: auto;
    }
    @media screen and (min-width: 508px) and (max-width: 769px) {
      width: 442px;
    }
    @media screen and (min-width: 770px) and (max-width: 990px) {
      display: none;
    }
  }

  #mobile-menu-icon {
    margin-right: 15px;
    z-index: 501;
    @media screen and (min-width: 615px) {
      margin-right: 95px;
    }
  }
  @media screen and (max-width: 769px) {
    display: block;

    #left-wrap {
      display: flex;
      float: left;
      height: 75px;
    }

    #mobile-menu-icon {
      float: right;
      display: block;
      margin-top: 12.5px;
      width: 50px;
      height: 50px;
    }

    #mobile {
      will-change: right;
      position: absolute;
      top: 75px;
      width: 50vw;
      z-index: 200;
      right: -50vw;
      height: calc( 100vh - 75px);
      background: white;
      display: block;

      ul {
        display: inline;

        li {
          float: right;
          clear: right;
          font-size: 20px;
          text-align: right;

          a {
            padding: 15px 0;
            margin-right: 25px;
          }
        }
      }
    }

    #right-wrap {
      display: none;
    }
  }

  #nav-spartahack {
    font-family: "Nemoy-Light";
    font-weight: 100;
    color: $medium-gold;
    font-size: 34px;
    @media screen and (min-width: 770px) and (max-width: 1299px) {
      display: none;
    }
    @media screen and (max-width: 508px) {
      display: none;
    }

    a {
      margin: 0;
      padding: 0;
      width: 100%;
      background: linear-gradient(to bottom, #F9E1A3, $medium-gold);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        display: none;
      }
    }
  }

  #nav-diamond {
    height: 45px;
    width: auto;
    padding-right: 5px;
    margin-left: 15px;
    @media screen and (min-width: 615px) {
      margin-left: 95px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 76px 0 0;
    height: auto;
    @media (max-width: 990px) {
      padding: 0;
    }

    li {
      // animation: fade-in 1.45s linear alternate;
      // animation-delay: 1.2s;
      float: left;
      padding: 0;
      text-transform: uppercase;
      font-family: "Lato-Light";
      padding: 0 25px;
      font-size: 15px;
      color: $medium-gold;

      a {
        display: block;
        width: 100%;

        &::after {
          position: relative;
        }

        &.active,
        &:hover {
          &::after {
            content: "";
            display: inherit;
            position: absolute;
            bottom: 2px;
            left: 0;
            height: 1px;
            width: 100%;
            background: #B58A2D,;
            background: linear-gradient(to left, #FAE2A4 0%, #B58A2D 100%);
          }
        }
      }
    }
  }
}

#mobile-overlay {
  display: none;
}
@media screen and (max-width: 769px) {
  #mobile-overlay {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    display: initial;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.2s linear;
  }

  .overlayed {
    opacity: 0.3 !important;
    z-index: 199;
  }
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  width: 10%;
  top: 75px;
  z-index: 100;

  img {
    display: none;
  }
  @media screen and (min-width: 770px) {
    right: 110px;
  }
  @media screen and (max-width: 760px) {
    right: 0;
  }

  img {
    content: image-url("socialMedia/mlh-white.svg");
  }

  &.dark {
    img {
      content: image-url("socialMedia/mlh-gray.svg");
    }
  }

  &::after {
    display: none;
  }
}
