#spartahack-title {
  font-family: "Nemoy-Light";
  font-weight: 100;
  color: $medium-gold;
  font-size: 5vw;
  @media screen and (max-width: 774px) {
    font-size: 6vw;
  }
}

#event-date, #event-location {
  text-transform: uppercase;
  font-family: "Lato-Light";
  color: $medium-gold;
  font-size: 2vw;
  @media screen and (max-width: 774px) {
    font-size: 3.5vw;
  }
}

#notify-email {
  input {
    box-sizing: border-box;
    width: 25vw;
    font-size: .7vw;
    line-height: 17px;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
    &:focus {
      text-align: left;
    }
    @media screen and (max-width: 774px) {
      width: 60vw;
      margin-bottom: 0;
      font-size: .5em;
    }
  }
}

.submit-button {
  padding: 21px 2vw;
  line-height: 17px;
  margin-left: -5vw;
  border: none;
  background: linear-gradient(90deg, $light-gold, $dark-gold);
  color: white;
  font-family: "Lato-Light";
  font-size: .7vw;
  &.hide {
    display: none;
  }
  @media screen and (max-width: 774px) {
    width: 60vw;
    margin-left: 0;
    font-size: 1em;
  }
}

#event-description {
  font-family: "Lato-Light";
  font-size: 1.1vw;
  line-height: 2;
  color: $dark-gold;
  @media screen and (max-width: 774px) {
    font-size: 3vw;
  }
}
