#sponsors {

  #sponsor-description {
    font-family: "Lato-Light";
    font-size: 1.1vw;
    line-height: 2;
    color: $dark-gold;
    @media screen and (max-width: 774px) {
      font-size: 3vw;
    }
  }

}
